[package]
name = "git_hosting_providers"
version = "0.1.0"
edition = "2021"
publish = false
license = "GPL-3.0-or-later"

[lints]
workspace = true

[lib]
path = "src/git_hosting_providers.rs"
doctest = false

[dependencies]
anyhow.workspace = true
url.workspace = true
