[package]
name = "extension"
version = "0.1.0"
edition = "2021"
publish = false
license = "GPL-3.0-or-later"

[lints]
workspace = true

[lib]
path = "src/extension.rs"
doctest = false

[dependencies]
gpui.workspace = true
serde.workspace = true
